# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/Data/
public/Park_8d0f06d595244dd5a4147044fdc47092/
public/Data2/
public/Floor_73d1b6a125c5415885e0ee76e13a3262/
public
Data2
Park_8d0f06d595244dd5a4147044fdc47092
xunfei*